.main {
  text-align: center;
  color: white;
}

canvas {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -48px; /* Half the height */
  margin-left: -105.5px; /* Half the width */
  color: #5b5c68;
  font-size: 12px;
  font-weight: bold;
}

.content {
  color: white;
  overflow: hidden;
}

.btn-outline-light:hover {
  background-color: #5b5c68 !important;
  color: black !important;
}

.btn-outline-danger {
  border: 1px solid #c74740 !important;
  color: #c74740 !important;
  font-weight: bold !important;
  cursor: pointer;
}

.btn-outline-danger:hover {
  background-color: #c74740 !important;
  color: white !important;
}

.loginInput {
  width: 200px;
  background-color: black;
  border: 1px solid #5b5c68;
  padding: 5px;
  color: white;
}

.topBar {
  z-index: 10000;
  padding: 7px;
  background-color: #c74740;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
